@{
    Layout = "_Layout";
}

<main class="container">
    <div class="container">
        <h1>@ViewData["Text"]</h1>
        <div class="main-list mb-3">
            <h2>Список</h2>
            <ol type="A">
                @for(int i = 1; i < 5; i++)
                {
                    <li>элемент @i списка</li>
                }
            </ol>
        </div>
        <div>
            <h2>Форма</h2>
            <form action="#" method="POST">
                <select asp-items="@ViewData["Lst"] as SelectList"></select>
                <div class="row justify-content-end mb-2">
                    <label class="form-check-label col-8"><input class="form-check-input" name="checkbox" type="checkbox">Чек-бокс 1</label>
                    <label class="form-check-label col-8"><input class="form-check-input" name="checkbox" type="checkbox">Чек-бокс 2</label>
                </div>
                <div class="row mb-2 justify-content-end">
                    <div class="col-8">
                        <label class="form-check-label mr-5"><input class="form-check-input vertical-align" type="radio" name="radio">Радио-1</label>
                        <label class="form-check-label mr-5"><input class="form-check-input vertical-align" type="radio" name="radio">Радио-2</label>
                        <label class="form-check-label mr-5"><input class="form-check-input vertical-align" type="radio" name="radio">Радио-3</label>
                    </div>
                </div>
                <div class="row input-group mb-2">
                    <label class="col-4" for="input__name">Логин:</label>
                    <input class="col-8 form-control" type="text" id="input__name" name="name" placeholder="Введите имя">
                </div>
                <div class="row input-group mb-2">
                    <label class="col-4" for="input__password">Пароль:</label>
                    <input class="col-8 form-control" type="password" id="input__password" name="password" placeholder="Введите пароль">
                </div>
                <button type="submit" class="btn btn-primary mt-2">Отправить</button>
            </form>
        </div>
    </div>
</main>
