@model ListViewModel<Dish>

@{
    ViewData["Title"] = "Меню";
    var categories = ViewData["Groups"] as IEnumerable<DishGroup>;
    int currentGroup = (int)ViewData["CurrentGroup"];

    var text = currentGroup != 0
    ? categories
    .FirstOrDefault(g => g.Id == currentGroup)?
    .Title
    : "Все";
}

<div class="row">
    <div class="col-2">
        <div class="dropdown mt-2">
            <a class="btn btn-secondary dropdown-toggle"
               asp-action="Index" asp-controller="Product"
               role="button"
               id="dropdownMenuLink"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                @text
            </a>
            <div class="dropdown-menu"
                 aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item"
                   asp-action="Index"
                   asp-controller="Product">Все</a>

                @foreach (var item in categories)
                {
                    <a class="dropdown-item"
                       asp-action="Index"
                       asp-controller="Product"
                       asp-route-group="@item.Id"
                       asp-route-pageNo="1">@item.Title</a>
                }
            </div>
        </div>
    </div>
    <div class="col-10">

        <div class="container">
            <div class="card-deck row">
                @foreach (var item in Model)
                {
                    <partial name="_ListItemPartial" model="@item" />
                }
            </div>
        </div>
    </div>