@page  "{id:int}"
@model Web_053504_Belko.Areas.Admin.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Dish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Dish.Id" />
            <div class="form-group">
                @if (!string.IsNullOrEmpty(Model.Dish.Image))
                {
                    <img src=~/Images/@Model.Dish.Image
                         alt="NoSuchFile" width="150" />
                }
                else
                {
                    <h4>Файл изображения не задан</h4>
                }
                <div class="custom-file mt-3">
                    <input type="file" class="custom-file-input"
                           asp-for="Dish.Image" id="customFile">
                    <label class="custom-file-label" for="customFile">
                        Выберите файл изображения
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="Dish.Title" class="control-label"></label>
                    <input asp-for="Dish.Title" class="form-control" />
                    <span asp-validation-for="Dish.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dish.Description" class="control-label"></label>
                    <input asp-for="Dish.Description" class="form-control" />
                    <span asp-validation-for="Dish.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dish.GroupId" class="control-label"></label>
                    <input asp-for="Dish.GroupId" class="form-control" />
                    <span asp-validation-for="Dish.GroupId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dish.Calories" class="control-label"></label>
                    <input asp-for="Dish.Calories" class="form-control" />
                    <span asp-validation-for="Dish.Calories" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dish.Image" class="control-label"></label>
                    <input asp-for="Dish.Image" class="form-control" />
                    <span asp-validation-for="Dish.Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js">
    </script>
    <script>
         $(document).ready(function() {
            bsCustomFileInput.init();
         });
    </script>
}